<% provide :title, t("admin.question.create_title") %>
<h1><%= t "admin.question.create_title" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @question], class: "form" do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="form-group">
        <%= f.label t "admin.question.question" %>
        <%= f.text_field :content, class: "form-control",
          placeholder: t("admin.question.enter_new_question") %>
      </div>
      <%= f.hidden_field :category_id, value: @category_id %>
      <div class="form-group" >
        <div id="answer_list">
          <%= f.fields_for :answers, wrapper: true do |answer_form| %>
            <%= render "shared/error_messages", object: answer_form.object %>
            <div class="row answer-form">
              <div class="col-md-5">
                <%= answer_form.label t "admin.question.answer" %>
                <%= answer_form.text_field :content, required: true, class: "form-control" %>
              </div>
              <div class="col-md-3">
                <%= answer_form.label t "correct" %>
                <%= answer_form.check_box :status, class: "checkbox" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <br>
      <%= f.submit t("done"), class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>
