<footer class="footer">
  <small>
    <a href="http://www.railstutorial.org/"><%= t "static_pages.rubyonrails"%></a>
    <%= t "static_pages.michaelHartl" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about"), about_path %></li>
      <li><%= link_to t("static_pages.contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t "static_pages.new" %></a></li>
    </ul>
  </nav>
</footer>
