<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if user_signed_in? %>
      <%= link_to t("static_pages.test_app"), exams_path, id: "logo" %>
    <% else %>
      <%= link_to t("static_pages.test_app"), root_path, id: "logo" %>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li><%= link_to t("admin.manage_user"), admin_users_path %></li>
            <li><%= link_to t("admin.manage_category"), admin_categories_path %></li>
            <li><%= link_to t("admin.manage_exam"), admin_exams_path %></li>
          <% end %>      
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t "header.account" %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("header.profile"), current_user %></li>
              <li><%= link_to t("header.settings"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("log_out"), destroy_user_session_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("header.login"), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
